
{% extends 'base.html' %}


{% block content %}
{% load static tailwind_tags %}
<div class="right-3">
  <div class="flex items-center bg-black rounded-lg mt-7 p-4 text-white ml-5 mr-5"><p>Bio: {{ profile }} </p></div>

<div class="rounded-full mt-10">

<form  action="{% url 'create_tweet' %}" method="POST">

  <input type="submit" value="New Hiss" class="bg-green-500 border-x-2 border-y-2 border-black pl-6 pr-6 pt-3 pb-3 rounded-md mb-3 ml-5"/>
  {% csrf_token %}

    <textarea name="content" cols="40" rows="1" maxlength="250" required id="id_content" class="ml-5"></textarea>


</form>
</div>

<div>

  {% for tweet in user_tweets %}

  <div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-xl m-5">
    <div class="md:flex">
      <div class="p-8">
        <div class="uppercase tracking-wide text-xs text-black font-semibold"> @{{tweet.user}}</div>
        <p class="mt-1 text-gray-500">{{tweet.content}}</p>
        <p class="mt-1 text-sm text-gray-500 ">Time: {{tweet.date_time}}</p>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
</div>
</div>
</div>
{% tailwind_css %}
{% endblock %}