
{% extends 'base.html' %}


{% block content %}
{% load static tailwind_tags %}
<div class="right-3">
  <div class="flex items-center bg-black rounded-lg mt-7 p-4 text-white ml-5 mr-5"><p>Bio: {{ profile }} </p></div>

<div>

  {% for tweet in user_tweets %}

  <div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-xl m-5">
    <div class="md:flex">
      <div class="p-8">
        <div class="uppercase tracking-wide text-xs text-black font-semibold"> @{{tweet.user}}</div>
        <p class="mt-1 text-gray-500">{{tweet.content}}</p>
        <p class="mt-1 text-sm text-gray-500 ">Time: {{tweet.date_time}}</p>
      </div>

    </div>
  </div>

  {% endfor %}
</div>
</div>
</div>
</div>
{% tailwind_css %}
{% endblock %}