{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body class="bg-green-400 font-serif leading-normal tracking-normal">
		<nav class="bg-green-600 py-1 shadow-lg fixed top-0 left-0 right-0">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
				<div class="flex justify-between h-16">
					<div class="flex bg-green-300 rounded-sm drop-shadow-sm p-2">

						{% if user.is_authenticated %}
						<div class="hover:drop-shadow-xl mt-3">
						<a href="/tweets/feed" class="text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Feed</a>
					</div>
					<div class="hover:drop-shadow-xl mt-3">
						<a href="/tweets/user/feed" class="text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Profile</a>
					</div>
					<div class="hover:drop-shadow-xl mt-3">
						<a href="{% url 'logout' %}" class="text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Logout</a>
					</div>
					{% else %}
					<div class="hover:drop-shadow-xl mt-3">
						<a href="{% url 'home' %}" class="text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Home</a>
					</div>
					<div class="hover:drop-shadow-xl mt-3">
						<a href="{% url 'signup' %}" class="text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Sign Up</a>
					</div>
					  <div class="hover:drop-shadow-xl mt-3">
						<a href="{% url 'login' %}" class=" border-slate-950 text-black px-3 pt-3 pb-2 rounded-md text-xl font-semibold">Login</a>
					 </div>
						{% endif %}

					</div>
				</div>
			</div>
		</nav>
		<div>
			{% if user.is_authenticated %}
			<p class="font-extralight text-lg m-3 mt-20">This is Hiss a twitter emulator built using Python and Django! Thanks for stopping by!</p>
			{% else %}
			<div class="">
			  <h3 class="text-3xl m-3 mt-20 font-extralight">Welcome to Hiss. or Twitter for Snakes. or something....anyway, sign up or log in above to share your slithery Python thoughts with all your snake friends!</h3>
		  </div>
			{% endif %}
		</div>
		<div>
			{% block content %}
			{% endblock %}
	  </div>
		<span class="bg-black">
		  <footer class="fixed bottom-0 left-0 right-0">
        <div class="right bg-green-600 p-1 drop-shadow-lg">
          <p class="ml-5 bg-green-300 rounded-sm p-2 font-light">All Rights Reserved, © 2023 Snake Twitter</p>
        </div>
      </footer>
	  </span>
	</body>
</html>

